*{
    background-color: hsl(275, 100%, 97%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: url(assets/fonts/static/WorkSans-Regular.ttf);
    
}

body{
  background-image: url(assets/images/background-pattern-mobile.svg);
  height: 200px;
  padding: 40px;
}

.faq-header{
  background-color:hsl(0, 0%, 100%);
  display: flex;
  padding: 15px 0px 15px 5px;
}

.faq-header h1{
  background-color:hsl(0, 0%, 100%);
  margin-left: 20px;
  font-weight: 700 bold;
}

.faq-header img{
  background-color:hsl(0, 0%, 100%);
}

.faq{
    background-color:hsl(0, 0%, 100%);
    text-align: center;
    align-items: center;
    width: 300px;
    padding: 10px 10px 30px 10px;
    margin: auto;
}

.accordion {
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    align-items: center;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s;
  }

  .panel p{
    background-color: hsl(0, 0%, 100%);
    color: hsl(292, 16%, 49%);
    text-align: left;
    padding: 0px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
  }
  
  .active, .accordion:hover {
    color: hsl(293, 86%, 46%);
  }
  
  .accordion:after {
    content: url(assets/images/icon-plus.svg);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: url(assets/images/icon-minus.svg);
  }
  
  .panel {
    padding: 0 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  /* Desktop design */

  @media screen and (min-width: 500px) {
    body{
      background-image: url(assets/images/background-pattern-desktop.svg);
    }
    .faq{
      width: 500px;
    }
  }